<html>
    <head>
      <title>Scanpy Report {{ ProjectName }} {{ SampleName }}</title>
    </head>
    <body>
        <h2>Project info</h2>
        <dt>Project Name</dt>
           <dd>{{ ProjectName }}</dd>
        <p></p>
        <dt>Sample Name</dt>
           <dd>{{ SampleName }}</dd>
        
        <h2>Description</h2>
        <p>Scanpy tool is used for checking an initial qc of the single cell data after cellranger count run.</p>
        <p>This analysis is based on the following Scanpy tutorials:</p>
        <ul>
          <li><a href="https://scanpy-tutorials.readthedocs.io/en/latest/pbmc3k.html">Clustering 3K PBMCs</a></li>
        </ul>

        <h2>List of genes that yield the highest fraction of counts in each single cells, across all cells.</h2>
        <img src="data:image/png;base64,{{ Highest_gene_expr }}">

        <h2>Check for mitochondrial gene expression</h2>
          <h3>Violin plot for MT gene expression counts</h3>
          <img src="data:image/png;base64,{{ MitoPlot }}">
        
          <h3>Scatter plots for MT gene expression counts</h3>
          <img src="data:image/png;base64,{{ MitoScatter1 }}">
          <img src="data:image/png;base64,{{ MitoScatter2 }}">
        
        <h2>Genes dispersion plot</h2>
        <img src="data:image/png;base64,{{ GenesDispersion }}">
        
        <h2>PCA ranking plot</h2>
        <img src="data:image/png;base64,{{ Pca }}">

        <h2>PCA variation ratio plot</h2>
        <img src="data:image/png;base64,{{ Pca_var_data }}">
        
        <h2>tSNE Plot of louvain clusters</h2>
        <img src="data:image/png;base64,{{ Tsne }}">
        
        <h2>UMAP Plot of louvain clusters</h2>
        <img src="data:image/png;base64,{{ Umap_data }}">

        <h2>Rank Genes Groups</h2>
        <img src="data:image/png;base64,{{ RankGenesGroups }}">
        
        <h2>Check for marker genes in cluster</h2>
          <h3>Stacked Violin plot of ranked genes</h2>
          <img src="data:image/png;base64,{{ Rank_genes_groups_stacked_violin }}">

          <h3>Dotplot of ranked genes</h2>
          <img src="data:image/png;base64,{{ Rank_genes_groups_dotplot }}">

          <h3>Matrix plot of ranked genes</h2>
          <img src="data:image/png;base64,{{ Rank_genes_groups_matrixplot }}">
        
          <h3>Heatmap plot of ranked genes</h2>
          <img src="data:image/png;base64,{{ Rank_genes_groups_heatmap }}">

          <h3>Tracks plot of ranked genes</h2>
          <img src="data:image/png;base64,{{ Rank_genes_groups_tracksplot }}">
        
    </body>
</html>