name: Create release and build docker image
on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Extract tag name
        id: tag
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      - name: Create GitHub release
        run: |
          # Use the actual tag name from the trigger
          TAG_NAME="${{ steps.tag.outputs.TAG_NAME }}"
          # checking for existing releases
          if ! gh release view "$TAG_NAME" >/dev/null 2>&1; then
            gh release create "$TAG_NAME" \
              --title "Release $TAG_NAME" \
              --generate-notes
          fi
